NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/habit_tracker_pro
JWT_SECRET=replace_with_strong_random_secret
JWT_EXPIRES_IN=700d
REFRESH_TOKEN_TTL_DAYS=140
REFRESH_TOKEN_COOKIE_NAME=rt
PRAYER_API_BASE_URL=https://api.aladhan.com/v1/timingsByCity
QURAN_API_BASE_URL=https://api.alquran.cloud/v1/ayah
HADITH_API_BASE_URL=https://api.hadith.sutanlab.id/books/muslim
